---
layout: layout.njk
title: Home
---

<div class="h-fit">
  <h2 class="mx-auto my-10 max-w-screen-md text-center text-2xl">
    I’m Graham, a web developer from Rhode Island, certified in full-stack
    development, and specializing in front-end.
  </h2>
  <p>
    I created my first website when I was in middle school, and even though it
    wasn’t that great it kicked off my love for building great things. All these
    years later, that passion still burns strong, and my skillset has only
    grown!
  </p>
  <p>
    I spent several years in the design world, but in 2020 I decided to make the
    jump towards taking on web development professionally. In January of 2021, I
    began attending a web development boot camp with UC Berkeley, and graduated
    the following summer. Today, I’m a full-time developer at Nerd.
  </p>
  <p>
    When I’m not 👨🏻‍💻 writing code you can find me playing 🎮 video games, 🥾
    hiking, and trying to improve my 🥘 cooking and 🎨 art skills!
  </p>
</div>
