<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ghall.dev</title>
    <link rel="stylesheet" href="/style/tailwind.css" />
    <script src="/js/alpine.js"></script>
    <meta
      name="description"
      content="Hello World! I'm Graham, a full-stack web developer."
    />
  </head>
  <body class="text-white">
    <div
      class="fixed left-0 top-0 -z-10 min-h-screen w-screen bg-gradient-to-br from-indigo-900 to-red-900 bg-fixed px-10"
    ></div>
    <div
      class="max-w-screen-md:px-5 relative z-10 mx-auto h-screen snap-y snap-mandatory items-center overflow-scroll scroll-smooth"
      x-data
    >
      <div class="group fixed left-0 top-0 flex h-screen items-center">
        <ul
          class="ml-2 -translate-x-10 rounded-full bg-white/50 opacity-0 shadow transition-all group-hover:translate-x-0 group-hover:opacity-100"
        >
          {% for item in nav %}
            <li class="m-3 transition-transform hover:scale-110">
              <button
                x-on:click="$refs.{{ item.id }}.scrollIntoView({ behavior: 'smooth' })"
              >
                <img
                  src="/img/icons/{{ item.icon }}.svg"
                  title="{{ item.label }}"
                />
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
      <section
        class="mx-auto flex min-h-screen max-w-screen-lg snap-center items-center p-4 text-center"
        x-ref="about"
      >
        <div>
          <img
            class="mx-auto mb-14 size-36 rounded-full"
            src="/img/portrait.jpg"
            alt=""
          />
          <h1 class="text-4xl">Graham Hall</h1>
          <h2 class="text-2xl">Web Developer</h2>
          <p>
            By day, I am a full-stack web developer. I also enjoy building cool
            things for the Mac, and tinkering with hardware like the Playdate. I
            also
            <a href="https://ghall.blog">write stuff</a>.
          </p>
          <p>
            Feel free to say "Hi 👋" on either <a href="">Mastodon</a> or
            <a href="">LinkedIn</a>.
          </p>
        </div>
      </section>
      <section
        class="mx-auto flex min-h-screen max-w-screen-lg snap-center items-center p-4 text-center"
        x-ref="skills"
      >
        <div class="mx-auto">
          <h1 class="mx-auto my-10 text-center text-2xl">Skills</h1>
          <div class="grid grid-cols-1 justify-items-center lg:grid-cols-2">
            {% for section in skills %}
              <div class="col-span-1 m-5 last:odd:md:col-span-2">
                <div class="mx-auto max-w-[300px] p-3">
                  <h3 class="mb-4 text-center text-xl">{{ section.label }}</h3>
                  <ul class="flex flex-wrap justify-center">
                    {% for skill in section.skills %}
                      <li
                        class="m-2 w-fit rounded-full bg-white px-4 py-1 text-slate-700 shadow-lg"
                      >
                        {{ skill }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <footer
        class="mt-4 flex min-h-screen snap-center items-center justify-center py-8"
      >
        <span
          class="text-2xl"
          x-data="{ currentYear: new Date().getFullYear() }"
          ><span x-text="currentYear"></span> - Graham Hall</span
        >
      </footer>
    </div>
  </body>
</html>
